APP_ENV='dev'
HOST='localhost'
MONGO_URI=mongodb://localhost:27018/phylogeo
DB_NAME='iPhyloGeo'
URL='http://localhost'
PORT='8050'
EMAIL_USER=iphylogeo@gmail.com
EMAIL_PASSWORD=rogo lqhi fldu mwml
REDIS_URL='redis://localhost:6379/0'
TEMP_RESULT_TTL_SECONDS='7200'