*newick
output/windows/*
outtree
output.csv
.idea/
venv/

node_modules/
datasets/
__pycache__/
*.css
*.map

.env
db/data/*

files/
result/

password.env
seq very small.fasta
genetic_settings_file.yaml

debug/
iphylogeo.log
temp/*

start.sh
