attrs==21.4.0
biopython==1.79
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colour==0.1.5
dash==2.1.0
dash-bio==1.0.1
dash-bootstrap-components==1.0.2
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-extensions==0.0.68
dash-html-components==2.0.0
dash-table==5.0.0
EditorConfig==0.12.3
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Compress==1.10.1
GEOparse==2.0.3
idna==3.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
jsbeautifier==1.14.0
jsonschema==4.4.0
MarkupSafe==2.0.1
more-itertools==8.12.0
numpy==1.22.2
pandas==1.4.0
ParmEd==3.4.3
periodictable==1.6.0
plotly==5.5.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
tenacity==8.0.1
threadpoolctl==3.1.0
tqdm==4.62.3
urllib3==1.26.8
visdcc==0.0.50
Werkzeug==2.0.2
zipp==3.7.0
