.help-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    .help-page-section {
        display: flex;
        justify-content: center;
        margin: auto;
        width: auto;
    }

    .help-title {
        color: var(--reverse-black-white-color);
        font-weight: bold;
        text-align: center;
    }
    
    .help-subtitle {
        color: var(--reverse-black-white-color);
        font-weight: bold;
        font-size: 1.5em;
    }

    h3 {
        color: var(--reverse-black-white-color);
        font-size: 1.2em;
    }

    .help-text {
        color: var(--text-color);
        font-size: 14px;
    }
}

.help-sections {
    margin-top: 50px;

    hr {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}