.params-genetic {
  padding: 15px;
  width: 75%;
  margin: auto;

  .parameter-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
    margin: 10px auto auto auto;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--black-and-white);

  .title {
    color: var(--reverse-black-white-color);
    font-size: 25px;
    font-weight: bold;
    margin: auto;
  }

    .sub-title {
      color: var(--reverse-black-white-color);
      font-size: 20px;
      margin: auto;
      margin-bottom: 20px;
    }

    .manual-input-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 750px;
      margin: auto;

      .manual-input {
        color: var(--reverse-white-black-color);
        background-color: var(--reverse-black-white-color);
        padding: 15px;
        border-radius: 5px;
        margin: 10px;

        .input-field {
          border-radius: 5px;
          border: 2px black solid;
          width: 150px;
          margin-top: 10px;
        }
      }
    }

    .parameter-container-inside {
      color: var(--reverse-white-black-color);
      display: grid;
      grid-template-areas:
      'title slider counter';
      grid-template-columns: auto 1fr auto;
      align-items: center;
      padding: 15px;
      border-radius: 5px;
      background-color: var(--reverse-black-white-color);

        @media (max-width: 900px) {
            grid-template-areas:
            'title'
            'slider'
            'counter';
            grid-template-columns: 1fr;
        }

      .param-title {
        grid-area: title;
      }

      .slider {
        grid-area: slider ;
        padding: 0px 25px 25px;
      }
    }
  }
}