.params-climatic {
  transition: all 0.3s ease-in-out;

  .title {
    color: var(--reverse-black-white-color);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    top: 0 !important;
  }

  .params-climatic-table {
    margin: auto;
    width: 75%;
  }

  .dash-table-container {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: auto;
  }

  .params-climatic-parameters {
    width: 75%;
    margin: 10px auto auto auto;

    .title {
      font-weight: bold;
      position: relative;
      top: 15px;
    }
  }

  .col-to-analyse-container {
    width: 75%;
    margin: 10px auto auto auto;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--black-and-white);
  }

  .axis {
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    margin: auto ;
    gap: 30px;
    justify-content: space-evenly;

    .sub-title {
      color: var(--reverse-black-white-color);
    }

    @media (max-width: 1080px) {
      flex-direction: column;
    }
  }

  .axis-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--black-and-white);

    @media (max-width: 1080px) {
      width: 100%;
    }

    .field {
      margin-top: 10px;

      &.graphType {
        display: flex;
        justify-content: center;
        gap: 15px;
      }
    }
  }

  .button {
      margin: 10px auto auto auto;
  }


  .noMapAvailable {
    color: var(--reverse-black-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .choropleth-map-container {
    width: 50%;
    border-radius: 15px;
    background-color: var(--black-and-white);

    @media (max-width: 1080px) {
      width: 100%;
    }

    .choropleth-map {
      height: 100%;
      .dash-graph {
         height: 100%;
      }
    }
  }

  .graph-generator-container {
    display: flex;
    width: 75%;
    margin: 10px auto auto auto;
    border-radius: 15px;
    background-color: #dbdbdb;

    .generated-graph {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      justify-content: center;
    }

    .dash-graph {
      color: white !important;
      width: 50%;
      @media (max-width: 1080px) {
        width: 100%;
      }
    }
  }
}

rect {
  fill: rgba(0, 0, 0, 0) !important;
}

