.params_genetic {
  padding: 15px;

  .ParameterContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
    margin: 10px auto auto auto;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--black-and-white);

  .title {
    color: var(--reverse-black-white-color);
    font-size: 25px;
    font-weight: bold;
    margin: auto;
  }

    .manualInputContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .manualInput {
        color: var(--reverse-white-black-color);
        background-color: var(--reverse-black-white-color);
        padding: 15px;
        border-radius: 5px;
        margin: 10px;

        .inputField {
          border-radius: 5px;
          border: 2px black solid;
          width: 150px;
          margin-top: 10px;
        }
      }
    }

    .ParameterContainerInside {
      color: var(--reverse-white-black-color);
      display: grid;
      grid-template-areas:
      'title slider counter';
      grid-template-columns: auto 1fr auto;
      align-items: center;
      padding: 15px;
      border-radius: 5px;
      background-color: var(--reverse-black-white-color);

        @media (max-width: 900px) {
            grid-template-areas:
            'title'
            'slider'
            'counter';
            grid-template-columns: 1fr;
        }

      .paramTitle {
        grid-area: title;
      }

      .slider {
        grid-area: slider ;
        padding: 0px 25px 25px;
      }
    }
  }
}