.button-pack {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 40px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }

  &.primary {
    background-color: #AD00FA;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }

  &.actions {
    background-color: #EA46FF;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }

  &.download {
    background-color: #AD00FA;
    font-size: 15px;
    font-weight: bold;
    color: white;

    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: #8B00D1;
    }
  }
}