.button-pack {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 40px;
  margin-top: 10px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--text);

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }

  &.primary {
    background-color: var(--primary);
    font-size: 15px;
    font-weight: bold;
    color: var(--text);

    &:hover {
      background-color: var(--secondary);
    }
  }

  &.actions {
    background-color: #EA46FF;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }

  &.theme-action {
    background-color: var(--action);
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: black;

    &:hover {
      background-color: var(--action-hover);
    }
  }

  &.download {
    background-color: var(--action);
    font-size: 14px;
    font-weight: bold;
    color: var(--text);
    border: none;
    padding: 10px 15px;

    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--action-hover);
    }
  }

  .icon {
    filter: var(--icon-filter);
  }
}