.helper {
  display: inline-grid;
  grid-template-areas:
  'content arrow'
  'content arrow';
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 20px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .content {
    display: grid;
    grid-area: content;
    grid-template-areas:
    'title title'
    'description description';
    width: 70%;

    .title {
      color: white !important;
      grid-area: title;
      font-size: 20px !important;
      font-weight: bold;
    }

    .description {
      grid-area: description;
      font-weight: normal !important;
      font-size: 15px !important;
    }
  }


  .icon {
    grid-area: arrow;
    //margin-left: 10px;
    align-self: center;
    width: 40px;
    filter: var(--icon-filter);
  }

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }

  &.primary {
    background-color: #AD00FA;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }
}