#result-ready-popup {
    .result-ready-content {
        padding: 24px;
        text-align: center;
        background: linear-gradient(135deg, var(--primary), var(--background-color));

        .title {
            font-size: 28px;
            color: var(--text);
            margin-bottom: 16px;
        }
    }
}