body {
    font-family: Inter, sans-serif;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.button {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 40px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }

  &.primary {
    background-color: #AD00FA;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }

  &.actions {
    background-color: #EA46FF;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }
}

.helper {
  display: inline-grid;
  grid-template-areas:
  'content arrow'
  'content arrow';
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 20px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .content {
    display: grid;
    grid-area: content;
    grid-template-areas:
    'title title'
    'description description';
    width: 70%;

    .title {
      grid-area: title;
      font-size: 20px !important;
      font-weight: bold;
    }

    .description {
      grid-area: description;
      font-weight: normal !important;
      font-size: 15px !important;
    }
  }


  .icon {
    grid-area: arrow;
    //margin-left: 10px;
    align-self: center;
    width: 40px;
    filter: var(--icon-filter);
  }

  &:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }

  &.primary {
    background-color: #AD00FA;
    font-size: 15px;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: #8B00D1;
    }
  }
}

.home-page {
  width: 100%;
  height: 100%;

  .home-page__video {
    animation: video-transition linear 1.5s ;
    filter: blur(0) brightness(50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }

  @keyframes video-transition {
    from {
      filter: brightness(50%);
      background-color: black;
    }
    to {
      filter: brightness(50%);
      background-color: black;
    }
  }

  .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;

    .title {
      font-weight: bold;
      font-size: 5rem;
      color: #fff;
    }

    .sub-title {
      width: 700px;
      font-weight: bold;
      font-size: 2rem;
      z-index: 3;
      color: #B3B3B3;

      .url {
        color: #318DD1;
        text-decoration: none;
        font-weight: bold;
      }

      .icon {
        margin-left: 5px;
        filter: invert(47%) sepia(88%) saturate(505%) hue-rotate(164deg) brightness(90%) contrast(80%);
        width: 15px;
      }
    }
  }
}

.nav-bar-container {
  position: fixed;
  top: 10px;
  left: 15px;
  border-radius: 10px;
  z-index: 100;
  width: 250px;
  background-color: var(--glass-style);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba(69, 69, 69, 0.18);

  height: calc(100vh - 21px);
  transition: all 0.3s ease-in-out; // Theme transition

  &.minimized {
    width: 75px !important;
  }

  .themeSwitcher {
    margin-left: 15px;

    div {
      div {
        div {
          border: var(--switch-toggle-border) !important;
          background: var(--switch-toggle-background) !important;
        }
      }
    }

    button {
      background-image: var(--theme-icon);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
    }

    &.minimized {
      display: none;
    }
  }

  .nav-bar {

    padding: 30px 20px 0 20px;

    .lab-container {
      display: flex;
      align-items: center;

      &.minimized {
        justify-content: center;
        flex-direction: column;
      }

      .lab-name {
        font-size: 1.7rem;
        font-weight: bold;
        color: #fff;
        margin-left: 10px;
        opacity: 1;
        transition: all 2s ease-in-out;

        &.minimized {
          opacity: 0;
          display: none;
          transition: all 2s ease-in-out;
        }
      }

      .logo {
        width: 50px;
        border-radius: 10px;
        cursor: pointer;
      }

      .icon {
        cursor: pointer;
        margin-left: 40px;
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(106%) contrast(101%);
      }
    }
  }


  .nav-link-container {
    padding: 20px;
    transition: all 0.3s ease-in-out;

    .nav-link {
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: var(--text-color);
      background: var(--glass-overlay-style);
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 10px );
      text-decoration: none;
      font-size: 1.2rem;
      padding: 10px;
      border-radius: 10px;
      font-weight: bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transition: ease-in-out 0.3s;
        background-color: #3e4246;
      }

      .text {
        font-size: 15px;
        text-align: center;
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }

      .icon {
        margin-right: 10px;
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(106%) contrast(101%);
      }

      &.selected {
        background-color: white;
        color: black;
      }
    }

    &.minimized {
      padding: 0;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      .nav-link {
        transition: all 0.3s ease-in-out 2s;
        margin: 20px auto auto auto !important;

        .text {
          display: none;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        .icon {
          margin: auto;
        }
      }
    }
  }

  .gitHub-container {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 20px;

    .gitHub {
      padding: 10px;
      border-radius: 10px;
      border: var(--reverse-black-white-color) 1px solid;
      display: flex;
      margin: auto;
      align-items: center;
      color: var(--reverse-black-white-color);
      background-color: var(--reverse-white-black-color);
      justify-content: center;
      text-decoration: none;

      transition: color, border, background-color 0.3s ease-in-out; // Theme transition

      &:hover {
        cursor: pointer;
        transition: ease-in-out 0.3s;
        background-color: var(--reverse-black-white-color);
        color: var(--reverse-white-black-color);
        border: var(--reverse-white-black-color) 1px solid;

        .icon {
          filter: var(--reverse-icon-filter);
        }
      }
  
      .icon {
        margin-right: 10px;
        width: 20px;
        filter: var(--icon-filter);
      }

      .text {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
      }
    }

    &.minimized {
      display: flex;
      justify-content: center;

      .gitHub {
        padding: 15px;

        .icon {
          margin: auto;
        }

        .text {
          display: none;
        }
       }
    }
  }
}

.getStarted {
  background-color: var(--background-color);
  height: 100vh;
  overflow: auto;
  padding: 80px;

  .container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .ChoiceSection {
    margin-top: 90px;
    text-align: center;

    .button {
      margin-top: 30px;
    }

    .title {
      color: var(--reverse-black-white-color);
      font-size: 25px;
      font-weight: bold;
    }

    .option {
      transition: all 0.3s ease-in-out;
      background-color: var(--reverse-background-color);
      color: var(--reverse-white-black-color);
      border-radius: 10px;
      box-shadow: var(--switch-toggle-background) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 250px;
      height: 250px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      //justify-content: center;
      cursor: pointer;

      &:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        //box-shadow: var(--switch-toggle-background) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        //background-color: var(--background-color);
        //color: var(--reverse-black-white-color);
      }

      &.selected {
        outline: 4px solid #AD00FA;
      }

      .optionImage {
        align-items: center;
        display: flex;
        margin: 20px auto 0 auto;
        width: 75px;
        height: 75px;
        background-color: var(--reverse-white-black-color);
        border-radius: 50%;

        .img {
          filter: var(--icon-filter);
          margin: auto;
          width: 25px;
        }
      }

      .title {
        color: var(--reverse-white-black-color);
        margin-top: 10px;
        font-size: 15px;
      }

      .description {
        margin-top: 10px;
      }
    }
  }

  .DropFileSection {
    margin-top: 90px;
    text-align: center;

    .title {
      color: var(--reverse-black-white-color);
      font-size: 25px;
      font-weight: bold;
    }

    .icon {
      margin-right: 10px;
      width: 40px;
      filter: var(--icon-filter);
    }

    .text {
      margin-top: -10px;
    }

    .dropZone {
      width: 80%;
      height: 150px;
      line-height: 60px;
      border: 2px dashed var(--reverse-black-white-color);
      border-radius: 5px;
      text-align: center;

      .dropContainer {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        z-index: 1;

        .dropContent {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          color: var(--reverse-black-white-color);
        }
      }

      .ManualInsertText {
        position: relative;
        cursor: pointer;
        color: #299FF5;
        z-index: 2;
        margin-top: -30px;
      }
    }
  }
}