.results {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 300px;

  .resultsContainer {
    margin-top: 50px;
  }

  .title {
    color: var(--reverse-black-white-color);
    font-size: 40px;
    font-weight: bold;
  }

  .notificationStack {
    user-select: none;
    display: flex;
    gap: 30px;
    margin-top: 15px;

    .notification {
      position: relative;
      min-width: 250px;
      height: 250px;
      border-radius: 14px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .count {
        position: absolute;
        color: white;
        font-size: 55px;
        backdrop-filter: saturate(180%) blur(10px);
        padding: 0 20px;
        border-radius: 14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .img {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 14px;
        background-size: cover;
        background-repeat: no-repeat;

        &.bg1 {
           background-image: url("/assets/img/jobBg.png");
        }

        &.bg2 {
           background-image: url("/assets/img/fileExpireBg.png");
        }
      }

      .notificationFooter {
        color: white;
        position: absolute;
        width: 100%;
        font-size: 18px;
        //height: 100%;
        //background-color: #dadfe1;
        backdrop-filter: saturate(180%) blur(10px);
        bottom: 0;
        //border-radius: 14px;
        padding: 5px;
        text-align: center;
        //left: 50%;
        //transform: translate(-50%, -50%);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }
  }

  .resultsRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;

    .row {
      color: var(--reverse-black-white-color);
      display: grid;
      grid-template-areas:
      'name creationDate expirationDate progress arrow';
      grid-template-columns: auto auto auto 0.5fr auto;
      border-radius: 5px;
      padding: 10px;
      background-color: var(--result-row-color);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
      transition: all linear 0.2s;

      &:hover {
        color: #C4C4C4;
        cursor: pointer;
        box-shadow:
          1px 1px #0000,
          2px 2px #0000,
          3px 3px #0000,
          -1px -1px #0000,
          -2px -2px #0000,
          -3px -3px #0000;
        transform: translateY(-1px);
      }

      .nameContainer {
        grid-area: name;

        .label {
          font-weight: bold;
        }
      }

      .creationDateContainer {
        grid-area: creationDate;

        .label {
          font-weight: bold;
        }
      }

      .expirationDateContainer {
        grid-area: expirationDate;

        .label {
          font-weight: bold;
        }
      }

      .progressContainer {
        grid-area: progress;

        .label {
          font-weight: bold;
        }

        .progressBar {
          display: inline-block;
          align-content: center;
          width: 100%;
          height: 100%;

          .progress {
            background-color: #b6a9e4;

            .progress-bar {
              background-color: #8B00D1;
            }
          }
        }
      }

      .arrowContainer {
        cursor: pointer;
        grid-area: arrow;
        display: flex;
        justify-content: center;
        align-items: center;

        .label {
          font-weight: bold;
        }

        .icon {
          width: 30px;
          filter: var(--icon-filter);
        }
      }
    }
  }
}