.getStarted {
  background-color: var(--background-color);
  //height: 100vh;
  //overflow: auto;
  overflow: hidden;
  padding: 0 80px;

  .container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .title {
    color: var(--reverse-black-white-color);
    font-size: 25px;
    font-weight: bold;
  }

  .ChoiceSection {
    //top: 25%;
    position: relative;
    height: 100vh;
    //margin-top: 90px;
    text-align: center;

    .choiceSectionInside {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .button {
      margin-top: 30px;
    }

    .option {
      transition: all 0.3s ease-in-out;
      background-color: var(--reverse-background-color);
      color: var(--reverse-white-black-color);
      border-radius: 10px;
      box-shadow: var(--switch-toggle-background) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 250px;
      min-height: 250px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      //justify-content: center;
      cursor: pointer;

      &:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        //box-shadow: var(--switch-toggle-background) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        //background-color: var(--background-color);
        //color: var(--reverse-black-white-color);
      }

      &.selected {
        outline: 4px solid #AD00FA;
      }

      .optionImage {
        align-items: center;
        display: flex;
        margin: 20px auto 0 auto;
        min-width: 75px;
        min-height: 75px;
        background-color: var(--reverse-white-black-color);
        border-radius: 50%;

        .img {
          filter: var(--icon-filter);
          margin: auto;
          width: 25px;
        }
      }

      .title {
        color: var(--reverse-white-black-color);
        margin-top: 10px;
        font-size: 15px;
      }

      .description {
        margin-top: 10px;
      }
    }
  }

  .DropFileSection {
    top: 25%;
    position: relative;
    height: 100vh;
    text-align: center;

    .DropFileSectionInside {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icon {
      margin-right: 10px;
      width: 40px;
      filter: var(--icon-filter);
    }

    .text {
      margin-top: -10px;
    }

    .dropZone {
      user-select: none;
      width: 80%;
      height: 150px;
      line-height: 60px;
      border: 2px dashed var(--reverse-black-white-color);
      border-radius: 5px;
      text-align: center;

      .textArea {
        display: flex;
        width: 100%;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
        line-height: initial;

        &.hidden {
          display: none;
        }
      }

      .dropContainer {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        z-index: 1;

        .dropContent {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          color: var(--reverse-black-white-color);
        }

        &.hidden {
          display: none;
        }
      }

      .ManualInsertText {
        user-select: none;
        position: relative;
        cursor: pointer;
        color: #299FF5;
        z-index: 2;
        width: 250px;
        margin: -30px auto 0 auto;

        &:hover {
          transition: color 0.3s ease-in-out;
          color: #175887;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }

  .ParametersSection {
    top: 25%;
    position: relative;
    height: 100vh;
    text-align: center;

    &.hidden {
      display: none;
    }

    .ParametersSectionInside {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .ParameterContainer {
        display: grid;
        //grid-template-columns: 360px 360px;
        border-radius: 5px;
        grid-row: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 20px;
        justify-content: center;

        .ParameterContainerInside {
          display: grid;
          grid-template-areas:
          'title slider counter';
          grid-template-columns: auto 1fr auto;
          align-items: center;
          width: 800px;
          padding: 15px;
          border-radius: 5px;
          background-color: white;

          .paramTitle {
            grid-area: title;
          }

          .slider {
            grid-area: slider ;
          }
        }
      }
    }
  }
}